.list {
    display: flex;
    flex-direction: row;
    row-gap: 20px;
    column-gap: 20px;
    flex-wrap: wrap;
    width: 1230px;
    margin: 0 auto;
}

.listItem {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding: 20px;
    border: 1px solid rgb(76, 228, 192);
    border-radius: 12px;
}

.image {
    height: 350px;
    width: 250px;
    border-radius: 20px;
}

.castInfo {
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: 15px;
}

.icon {
    height: 20px;
    width: 20px;
}